{% extends 'base.twig' %}

{% block pagina %}
	<section class="pagina">
		<header id="encabezado">
			{% block encabezado %}
				<div class="contenedor">
					<a href="index.html">
						<h1 class="titulo">
							<img src="img/logo-sedal-serendipity.png" alt="" class="logo">
						</h1>
					</a>
				</div>
			{% endblock %}
		</header>

		<article id="cuerpo">
			{% block cuerpo %}
				
			{% endblock %}
		</article>

	
		 </div>
 
 
	</section>

{% endblock %}
