@require "base/utiles"
@require "nib"
@require "animations"

#portada
	min-height 485px
	height 100vh
	display flex
	justify-content center
	align-items center
	.slider-txt
		max-width 612px
		+hasta( escritorio )
			padding 0 15px
		
 
	
	.boton
		margin-top 54px